<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSRF token for security -->
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <!-- Include Tailwind CSS from CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Include custom styles -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Page title -->
    <title><%= title %></title>
    <!-- JavaScript for handling Todo operations -->
    <script>
        // Retrieve CSRF token from the meta tag
        var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content");

        // Function to update Todo completion status
        function updateTodo(id) {
            const bool = document.querySelector(`#todo-checkbox-${id}`).checked;
            fetch(`/todos/${id}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    _csrf: token,
                    completed: bool
                }),
            })
            .then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
            })
            .catch((err) => console.error(err));
        }

        // Function to delete a Todo
        function deleteTodo(id) {
            fetch(`/todos/${id}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    _csrf: token,
                }),
            })
            .then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
            })
            .catch((err) => console.error(err));
        }
    </script>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <!-- Include header -->
            <%- include('header.ejs') %>
            <!-- Signout link -->
            <a href="/signout">Signout</a>
            <!-- Display error messages -->
            <div>
                <% if(messages && messages.error && messages.error.length > 0)  { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <li> <%= messages.error[i] %></li>
                    <% } %>
                <% } %>
            </div>
            <!-- Todo form -->
            <form id="todoForm" action="/todos" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <!-- Title input -->
                        <input id="titleInput" type="text" name="title" placeholder="What's next?" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm" required/>
                    </div>
                    <div class="flex-auto">
                        <!-- Due date input -->
                        <input id="dueDateInput" type="date" name="dueDate" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4 required"/>
                    </div>
                    <div class="flex-none">
                        <!-- Add Todo button -->
                        <button id="addButton" type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb">Add</button>
                    </div>
                </div>
            </form>
            
            <script>
                // Form validation
                const form = document.getElementById('todoForm');
                const titleInput = document.getElementById('titleInput');
                const dueDateInput = document.getElementById('dueDateInput');

                form.addEventListener('submit', (event) => {
                    // Prevent form submission if title or due date are empty
                    if (titleInput.value.trim() === '' || dueDateInput.value.trim() === '') {
                        event.preventDefault();
                        alert('Please enter a title and a due date.');
                    }
                });
            </script>

            <!-- Display Todo lists -->
            <div>
                <!-- Include Todo lists with titles and data -->
                <% include('todo.ejs', {title: "Overdue", data: overdue}) %> 
                <% include('todo.ejs', {title: "Due Today", data: dueToday}) %> 
                <% include('todo.ejs', {title: "Due Later", data: dueLater}) %> 
                <% include('todo.ejs', {title: "Completed", data: completedItems}) %>
            </div>

            <!-- Include footer -->
            <%- include('footer') %>
        </div>
    </div>
</body>
</html>

